* {
    margin: 0;
    padding: 0;
}

table,
th,
td {
    border: 1px solid rebeccapurple;
    border-collapse: collapse;
}

table {
    width: 90%;
    margin: 20px auto;
}

th {
    height: 10px;
    background: rgb(3, 146, 255);
    padding: 5px;
}

.dayPart {
    padding-left: 5px;
    /* cambiar el letertype*/
}

/* TODO: Hacerlo interactibo (con input) */

/* 
    <td colspan="2">11:30 tot 12:30</td>
    <td rowspan="3"> </td>
  */